extends layout 

block content
    h2 opzioni 
    form(action="/test", method="post")
        input(type="text", name="Username")
        input(type="password", name="pass")
        input(type="submit")