extends layout 

block content 
    form(action="/sign-in", method="post") 
        input(type="text", name="uter")
        input(type="password", name="passuter")
        input(type="submit", value="button")